name: Testing

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '**'

env:
  FORCE_COLOR: 2

permissions:
  contents: read

jobs:
  lint:
    uses: stylelint/.github/.github/workflows/lint.yml@main
  test:
    uses: stylelint/.github/.github/workflows/test.yml@main
    with:
      node-version: '["16", "18"]'
      os: '["ubuntu-latest", "windows-latest", "macos-latest"]'
