name: Testing

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    uses: stylelint/.github/.github/workflows/lint.yml@main
  test:
    uses: stylelint/.github/.github/workflows/test.yml@main
    with:
      os: '["ubuntu-latest", "windows-latest", "macos-latest"]'
      node-version: '["20", "22", "24"]'
